<!doctype html>
<html lang="en">

<head>
    <title>Blizzard Clock</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.g../static.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Burned&display=swap" rel="stylesheet"
        crossorigin="anonymous">

    <style>
        body {
            font-family: 'Amatic SC';
            font-display: swap;
        }

        .clock {
            font-size: 80px;

            font-family: "Rubik Burned", serif;
            text-align: center;
            padding-top: 20vh;
        }
    </style>
</head>

<body>
    <div class="clock" id="clock"></div>

    <script>
        function updateClock() {
            const now = new Date();
            const timeString = now.toLocaleTimeString();
            document.getElementById('clock').textContent = timeString;
        }

        // Ensure the clock updates after the document has loaded
        window.addEventListener('DOMContentLoaded', function () {
            setInterval(updateClock, 1000);
            updateClock();
        });
    </script>
</body>

</html>