<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <style>
        body {
            background-image: url(../static/snow/sg-snow.gif), url(../static/snow/6595b5_be855e40c2df466b9b66fe3059709f08~mv2-1903038339.gif);
            background-position: top top;
            background-repeat: repeat, no-repeat;
            background-color: blue;
        }
    </style>
    <script>
        function getTime() {
            document.getElementById('current-time').submit();
        }
        setInterval(getTime, 1000);
    </script>

</html>